VITE_API_URL=http://localhost:5000
VITE_SUPABASE_URL=https://klihbnivbzrjcgwiznjx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsaWhibml2YnpyamNnd2l6bmp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NDcwMjYsImV4cCI6MjA5NTAyMzAyNn0.5ojvUXbbWocVjYoSHRIkGYn-qnmCB__r4XxASLx2Fqs
